@import "../lib/all";

.book-wrapper {
    max-width: 100%;
    min-height: 100%;
}

.book-details {
    display: flex;
    flex-direction: row;


    @media all and 
    (max-width: 700px) and 
    (orientation:portrait) {
        flex-direction: column;
    }

    .detail-column {
        flex: 1;


    }
}

.slides-container {
    position: relative;
    height: 40vmin;
    margin-bottom: 5rem;
    max-width: 100%;

    .slide {
        height: 100%;
        max-width: 100%;
        position: absolute;
        border: 0;
        transition: opacity 0.5s ease;
        opacity: 0;

        &:focus {
            border: 0;
            outline: 0;
        }

        &:target {
            z-index: 10;
            opacity: 1;
            transition: opacity 0.5s ease 0.5s;
        }

        img {
            max-height: 100%;
            max-width: 100%;
        }
    }

    a {
        cursor: e-resize;
    }
}

.slides-container > 
.slide:target ~ .slide:last-child, 
.slides-container > .slide {
opacity: 0;
  }
  
/* :last-child works, but for some reason .slide:last-child will not */
.slides-container > :last-child, 
.slides-container > .slide:target {
opacity: 1;
}