/*
* === FORMS ===
*/

/* Bordered form */

form {
    width: 28rem;
    max-width: 100%;
}

/* Full-width inputs */

input,textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}



.error {
    color: red;
}

h1 {
    font-size: 1em;
    margin-bottom: 2em;
}

label[for=project_thumbnail] {}
