@import "../lib/all";

/*
* === FORMS ===
*/

/* Bordered form */

form {
    width: 28rem;
    max-width: 100%;
}

/* Full-width inputs */

input[type="text"],
textarea,
select {
    width: 100%;
    padding: 0.8rem;
    margin: 0.5rem 0 1rem;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 0.9rem;
    font-weight: 300;

    &:focus {
        outline: 0;
        border: 1px solid black;
    }
}

select {
    height: 2rem;
    background-color: #fff;
    border-radius: 0;
}

textarea {
    height: 7rem;
}

.error {
    color: red;
}

h1 {
    font-size: 1em;
    margin-bottom: 2em;
}

label[for=project_thumbnail] {}
