@import "../lib/all";

/*
* === GALLERY ===
*/

a.gallery-next,
a.gallery-prev {
    position: absolute;
    width: 50%;
    height: 90%;
    z-index: 1;
}

a.gallery-next {
    right: 0px;
    cursor: e-resize;
}

a.gallery-prev {
    left: 0px;
    cursor: w-resize;
}
