@import "../lib/all";

/*
* === GALLERY ===
*/

a.gallery-next {
    position: absolute;
    width: 50%;
    height: 100vh;
    right: 0px;
    cursor: e-resize;
    z-index: 1;
}

a.gallery-prev {
    position: absolute;
    width: 50%;
    left: 0px;
    height: 100vh;
    cursor: w-resize;
    z-index: 1;
}

.home-link {
    position: absolute;
    width: 100%;
    height: 100vh;
    right: 0px;
    cursor: pointer;
    z-index: 1;
}