@import "../lib/all";


img.fadein {
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
}

img.fadeout {
    -webkit-animation: fadeout 500ms;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeout 500ms;
    /* Firefox < 16 */
    -ms-animation: fadeout 500ms;
    /* Internet Explorer */
    -o-animation: fadeout 500ms;
    /* Opera < 12.1 */
    animation: fadeout 500ms;
}