@import "../lib/all";

* {
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    background: white;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: $main-font;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 15px;
}

.global {
    display: flex;
    height: 100%;
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    box-orient: horizontal;
}

.content {
    margin-left: 19vw;
    margin-right: 3vw;
    max-height: 100%;
    width: 1200px;
    max-width: 100%;
    display: flex;
    align-content: center;
    box-sizing: border-box;
    @include media-query-l($on-laptop) {
        margin-left: 30vw;
    }

}

.content-center{
    align-items: center;

    @include media-query-p($on-laptop) {
        align-items: flex-start;
    }
}

.content#single {
    margin-top: 8vh;
    margin-bottom: 8vh;
    justify-content: center;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.content#overview {
    align-items: center;
}

.container#overview {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    max-width: 100%;
    justify-content: center;

    @include media-query-p($on-laptop) {

        align-self: flex-start;
        margin-bottom: 2rem;    
    }
    @include media-query-p($on-mobile) {

    }
    @include media-query-l($on-laptop) {

        align-self: flex-start;
        margin-bottom: 2rem;    
    }
    @include media-query-l($on-mobile) {

    }
}


.project-wrapper {
    width: 300px;
    max-height: 200px;
    margin: 0 1rem 1rem 0;
    img {
        max-width: 100%;
        max-height: 100%;
        vertical-align: middle;
    }

    &:hover {
        opacity: 0.8;
    }

    @include media-query-p($on-mobile) {
        margin-right: 0;
    }

}

.container--single {
    height: 100%;
    width: 100%;
}