/*
* === MEDIA QUERIES ===
*/

@media all and (orientation:portrait) {
    .sidebar {
        height: 25vh;
        width: 100%;
        padding-left: 8vw;
        padding-top: 4vh;
        z-index: 1;
    }
    .content,
    .content#single {
        margin: 25vh 0 12vh;
        padding: 0 8vw;
        justify-content: flex-start;
    }
    .content#overview {
        margin-top: 25vh;
    }
    .container#single {
        text-align: center;
        padding-left: 8vw;
        padding-right: 8vw;
    }
    .container#overview {
    }
    .sideinfo {
        position: fixed;
        bottom: 3vh;
    }
    nav {
        margin-top: 20px;
    }
    nav a:last-child {
        padding-bottom: 0;
    }
}

@media all and (max-width: 500px) and (orientation:portrait) {
    .content#overview {
        align-items: flex-start;
        margin-top: 25vh;
        margin-bottom: 0;
    }
}

@media all and (max-height: 780px) and (orientation:portrait) {
    .content#overview {
        align-items: flex-start;
        margin-bottom: 0;
    }
    .content#single {
        margin-top: 25vh;
        margin-bottom: 5rem;
    }
}

@media all and (max-width: 930px) and (orientation:landscape) {
    .content#overview {
        align-items: flex-start;
        padding-top: 3vh;
    }
    .popup {
        margin: 10vh auto;
        width: 80vw;
    }
}

@media all and (max-height: 618px) and (max-width: 1223px) and (orientation:landscape) {
    .content#overview {
        align-items: flex-start;
        padding-top: 3vh;
    }
}

@media all and (max-height: 618px) and (orientation:landscape) {
    .sideinfo {
        bottom: 3vh;
    }
    .sidebar {
        align-items: flex-start;
        padding-top: 50px;
    }
    .content#overview {
        padding-top: 3vh;
        margin-right: 0;
        padding-right: 6vw;
        padding-left: 4vw;
    }
}


