@import "../lib/all";

.logo {
    height: 1.4rem;

    @include media-query-p($on-mobile) {
        height: 1.1rem;
    }
}

.nc-icon-wrapper {
    fill: $light-grey;
}

span.bold {
    font-family: $bold-font;
}

nav {
    font-weight: 200;
    margin-top: 4rem;
    z-index: 0;
    font-size: 1rem;

    @include media-query-p($on-laptop) {
        font-size: 0.9rem;
        margin-top: 2rem;

    }

    a {
        color: #000;
        display: block;
        padding-bottom: 1rem;

        &.active {
            font-family: $bold-font;
        }

        &:hover {
            color: $light-grey;
        }
    }
}

.sideinfo {
    position: absolute;
    margin-top: 250px;

    a {
        color: $light-grey;
    }

    @include media-query-portrait-only {
        position: fixed;
        bottom: 8vh;
    }
}