@import "../lib/all";

.slides-container {
    position: relative;
    height: 40vmin;
    margin-bottom: 5rem;
    max-width: 100%;

    
    .slide {
        border: 0;
        height: 100%;
        max-width: 100%;
        position: absolute;
        transition: opacity 0.5s ease;
        opacity: 0;
        display: block;
        text-align: right;

        &:focus {
            border: 0;
            outline: 0;
        }

        img {
            max-height: 100%;
            max-width: 100%;
        }

        .svg-icon {
            cursor: pointer;
        }
    }

    .slide-input {
        display: none;
    }

    .slide-input + label img{
        opacity: 0;
        transition: opacity 0.5s ease 0.5s;
    }

    .slide-input:checked + label img{
        opacity: 1;
        transition: opacity 0.5s ease 0.5s;
    }

    .slide-input:checked + label {
        z-index: 10;
        opacity: 1;
        cursor: e-resize;
    }
}
