<!DOCTYPE html>
<html>

<head>
  {% include head.html %}
</head>

<body>
  {% include header.html %}

<div class="content content-center">

    <div class="container">
      <div class="flex-container">
          <div class="flex-column">
              <img src="{{ page.image }}" alt="" class="profile-image">
            </div>
            <div class="flex-column">
                {{ page.vita | markdownify }}
            </div>      
      </div>

      <div class="flex-container">
          <div class="flex-column">
              {{ page.contact | markdownify }}
          </div>
          <div class="flex-column">
            {{ page.text | markdownify }}
          </div>
      </div>

    </div>
</div>



  {% include footer.html %}
</body>

</html>