<!DOCTYPE html>
<html>
  
<head>
  {% include head.html %}
  
    <script>
      function fadeIn(element) {
          element.classList.add('fadein');
          element.style.visibility = "visible";
      }
    </script>
</head>

<body>
  {% include header.html %}

    <div class="container-home">
      <div>
        <a href="/photography/" class="home-link"></a>
        <p>{{ page.text.top }}</p>
        <img class="" onload="fadeIn(this)" src="{{ page.image }}" style="visibility: hidden">
        <p>{{ page.text.bottom }}</p>
      </div>
    </div>

  {% include footer.html %}
</body>

</html>