<!DOCTYPE html>
<html>
  
<head>
  {% include head.html %}
  
    <script>
      function fadeIn(element) {
          element.classList.add('fadein');
          element.style.visibility = "visible";
      }
    </script>
</head>

<body>
  {% include header.html %}

  <div class="container-detail">
    <a href="/photography/" class="home-link"></a>
      <div class="spinner"></div>
      <img class="" onload="fadeIn(this)" src="{{ page.image }}"  style="visibility: hidden">
</div>

  {% include footer.html %}
</body>

</html>