<!DOCTYPE html>
<html>

<head>
    {% include head.html %}

    <script>
        function fadeIn(element) {
            element.classList.add('fadein');
            element.style.visibility = "visible";
        }
    </script>
</head>

<body>
  {% include header.html sideinfo="true" %}

  <a href="{{ page.previous.url | default: site[page.collection].last.url }}" class="gallery-prev"></a>
  <a href="{{ page.next.url | default: site[page.collection].first.url  }}" class="gallery-next"></a>
  <div class="container-detail">
      <div class="spinner"></div>
      <img class="" onload="fadeIn(this)" id="fadeout" src="/img/uploads/{{ page.image }}" style="visibility: hidden">
  </div>

    <div id="info" class="overlay">
        <a class="close-overlay" href="#"></a>
        <div class="content" style="display: flex; align-items: center;justify-content: center;">
            <div class="popup">
                <a class="close" href="#">×</a>
                <h2>{{ page.title }} / {{ page.year }}</h2>
                <h3>{{ page.archive_id }}</h3>
                <div class="popup-content" style="margin-bottom: 1rem;">
                    {{ page.description }}
                </div>
                <div class="popup-copyright">
                    Photograph and Copyright © by HEINER LEISKA<br>
                    Not to be reproduced in any form without written permission of the photographer
                </div>
            </div>
        </div>
    </div>
        
  {% include footer.html %}

  <div class="preload"              
  style="background:url({{ page.next.image }}) no-repeat -9999px -9999px"></div>
</body>

</html>
