<!DOCTYPE html>
<html>

<head>
  {% include head.html %}
</head>

<body>
  {% include header.html sideinfo="true" %}

  <a href="{{ page.previous.url | default: site[page.collection].last.url }}" class="gallery-prev"></a>
  <a href="{{ page.next.url | default: site[page.collection].first.url  }}" class="gallery-next"></a>
  <div class="container-detail"             
  style="background:url({{ page.next.image }}) no-repeat -9999px -9999px">
    <img class="fadein" id="fadeout" src="{{ page.image }}">
  </div>

    <div id="info" class="overlay">
        <a class="close-overlay" href="#"></a>
        <div class="popup">
            <h2>{{ page.title }} / {{ page.year }}</h2>
            <h3>{{ page.archive_id }}</h3>
            <a class="close" href="#">×</a>
            <div class="popup-content">
                {{ page.description }}
            </div>
            <div class="popup-price" style="width: 100%, display: flex">
                {% for print in page.prints %}
                <div style="width: 100%; display: flex; justify-content: space-between">
                    <span>{{ site.data.variables[print.variable] | default: print.title }}</span>
                    <span>{{ print.price }}</span>
                </div>
                {% endfor %}
            </div>
           <div>
                Archival pigment print<br>
                Signed on verso, plus extra certificate<br><br>
                <a href="#order-de" class="btn">Bestellen</a>
                <a href="#order-en" class="btn">Order</a>
           </div>
            <div class="popup-copyright">
                Photograph and © by HEINER LEISKA<br>
            </div>

        </div>
    </div>

    <div id="order-de" class="overlay">
            <a class="close-overlay" href="#"></a>
            <div class="popup">
                    <a class="close" href="#info">×</a>
                <form action="https://formspree.io/mkitzmann@gmail.com" method="POST">
                    <input type="hidden" name="_subject" value="Neue Bestellung für das Buch {{ page.title }}" />
                    <input type="hidden" name="_next" value="http://localhost:4000/books/cake/#thankyou" />
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" placeholder="Name">
                    <label for="email">E-Mail</label>
                    <input type="text" id="email" name="_replyto" placeholder="mail@example.com">
                    <label for="email">Anschrift</label>
                    <input type="text" id="email" name="_replyto" placeholder="Musterstraße 1, 12345 Musterstadt">
                    <label for="print">Ausführung</label>
                    <select name="print" id="print">
                        {% for print in page.prints %}
                            <option value="{{ print.title }}">{{ print.title }}, {{ print.price }}</option>
                        {% endfor %}
                    </select>
                    <label for="order">Bestellung</label>
                    <textarea id="order" name="order">Ich bestelle das Bild "{{ page.title }}" in der gewählten Ausführung.
Lieferung bitte an: Rechnungsanschrift. 
                    </textarea>
                    Lieferung des Drucks in stabiler Versandrolle.<br> 
                    Rahmung auf Anfrage.<br>
                    Gegen Vorkasse.<br>

                    <input type="submit" value="Bestellung absenden" class="btn">
                    <a href="#info" class="btn cancel-btn">Abbrechen</a><br>

                </form>
                
                <div class="popup-copyright">
                    Photograph and Copyright © by HEINER LEISKA<br>
                </div>
    
            </div>
        </div>


        <div id="order-en" class="overlay">
                <a class="close-overlay" href="#"></a>
                <div class="popup">
                        <a class="close" href="#info">×</a>
                    <form action="https://formspree.io/mkitzmann@gmail.com" method="POST">
                        <input type="hidden" name="_subject" value="Neue Bestellung für das Buch {{ page.title }}" />
                        <input type="hidden" name="_next" value="http://localhost:4000/books/cake/#thankyou" />
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" placeholder="Name">
                        <label for="email">Email</label>
                        <input type="text" id="email" name="_replyto" placeholder="mail@example.com">
                        <label for="email">Address</label>
                        <input type="text" id="email" name="_replyto" placeholder="Musterstraße 1, 12345 Musterstadt">
                        <label for="print">Print</label>
                        <select name="print" id="print">
                            {% for print in page.prints %}
                                <option value="{{ print.title }}">{{ print.title }}, {{ print.price | replace: '.',',' }}</option>
                            {% endfor %}
                        </select>
                        <label for="order">Order</label>
                        <textarea id="order" name="order">I hereby order one print of the "{{ page.title }}" in the selected size.
Delivery to Invoice Address.
                        </textarea>
                        Lieferung erfolgt ungerahmt in Versandrolle.<br> 
                        Framing or mapping on request.<br>
                        Payment in advance.<br>
    
                        <input type="submit" value="Order" class="btn">
                        <a href="#info" class="btn cancel-btn">Cancel</a><br>
    
                    </form>
                    
                    <div class="popup-copyright">
                        Photograph and Copyright © by HEINER LEISKA<br>
                        Not to be reproduced in any form without written permission of the photographer
                    </div>
        
                </div>
            </div>

  {% include footer.html %}
</body>

</html>
